{% extends "template.html" %}
{% block conteudo %}


<section>
    <h5> {{ database }}.{{ schema }}.{{ table }}</h5>
    <div class="row">
        <div class="col-5">
         <p><strong>Column description</strong><br>
         Here's a column description</p> 
         <p><strong>Date range</strong><br>
         From: 2022-01-01 <br>
         To: 2022-12-31</p> 
         <p><strong>Data lineage</strong></p>
         {% for source_table in lineage%}
                           <div class="accordion" id="accordionLineage">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="{{ source_table[0].split('.')[0] }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#testeOne" aria-expanded="false" aria-controls="testeOne">
                                    {{ source_table[0].upper() }}
                                </button>
                              </h2>
                              <div id="{{ source_table[0].split('.')[1] }}" class="accordion-collapse collapse" aria-labelledby="{{ source_table[0].split('.')[0] }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ source_table[1].upper() }}
                                </div>
                              </div>
                            </div>
                          </div>

              {% endfor %}
        </div>
        <div class="col-7">

            <div class="container">
                
                <table class="table table-striped table-responsive table-bordered">
                    <thead class="thead-default">
                        <tr>
                            <th>Column</th>
                            <th>Comment</th>
                            <th>Data type</th>
                            <th>Is nullable</th>
                            <th>Character max lenght</th>
                            <th>Numeric precision</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column in columns%}
                        <tr>
                            <td>{{ column.column_name }}</td>
                            <td>{{ column.column_description }}</td>
                            <td>{{ column.data_type }}</td>
                            <td>{{ column.is_nullable }}</td>
                            <td>{{ column.character_maximum_length }}</td>
                            <td>{{ column.numeric_precision }}</td>
        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

        </div>
      </div>

</section>

{% endblock %}