{% extends "template.html" %}
{% block conteudo %}

  <section>
	  <div class="container">
		<table class="table table-responsive">
            <tbody>
                {% for database in databases%}
                <tr>
                  <td style="width:8%"><img src="/static/images/snowflake.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                  <strong><td><a href="{{url_for('schemas', database=database.database_name)}}">{{ database.database_name }}</a></strong>
                  <br>{{ database.database_description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
  </section>


{% endblock %}

