{% extends "template.html" %}
{% block conteudo %}

  <section>
	  <div class="container">
        <h2> From database {{ database }}</h2>
		<table class="table table-responsive">
            <tbody>
                {% for schema in schemas%}
                <tr>
                  <td><a href="{{url_for('tables', database=schema.database_name, schema=schema.schema_name)}}">{{ schema.schema_name }}</a>
                   <br> {{ schema.schema_description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
  </section>


  {% endblock %}

