{% extends "template.html" %}
{% block conteudo %}

  <section>
	  <div class="container">
        <h2> From database {{ database }} and schema {{ schema}}</h2>
		<table class="table table-responsive">
            <tbody>
                {% for table in tables%}
                <tr>
                  <td><a href="{{url_for('columns', database=database, schema=schema, table=table.table_name)}}">{{ table.table_name }}</a>
                    <br>{{ table.table_description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
  </section>


  {% endblock %}

